* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
    
  body {
    background-color: #2A2E53;
  }
  
    /* HEADER */
    header {
      display: flex;
      font-family: 'Poppins', sans-serif;
      justify-content: space-between;
      align-items: center;
      padding: 30px 10%;
      background-color: #575B7E;
      color: white;
      max-height: 80px;
    }
    
    h1 {
      font-size: 20px;
      cursor: pointer;
      font-weight: 50;
      color: white;
    }
  
    a.logo {
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      cursor: pointer;
      color: white;
      text-decoration: none;
    }
    
    .nav-links a,
    .cta,
    .overlay-content a {
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      font-weight: 500;
      color: white;
      text-decoration: none;
    }
    
    .nav-links {
      font-family: 'Poppins', sans-serif;
      list-style: none;
      display: flex;
      align-items: baseline;
    }
    
    .nav-links li {
      padding: 0px 20px;
    }
    
    .nav-links li a {
      transition: color 0.3s ease 0s;
    }
    
    .nav-links li a:hover {
      color: #8C8FB0;
    }
    
    .cta {
      padding: 9px 25px;
      background-color: #D9D9D9;
      color: black;
      border: none;
      border-radius: 40px;
      cursor: pointer;
      transition: background-color 0.3s ease 0s;
      
    }
    
    .cta:hover {
      background-color: #8C8FB0;
      color: black;
    }
  
    .btn {
      text-decoration: none;
    }
  
  @media screen and (max-width: 1341px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background-color: #575B7E;
      padding: 10px;
    }
  
    .nav-links.show {
      display: flex;
    }
  
    .nav-links li {
      padding: 10px;
    }
  
    .menu-btn {
      display: block;
    }
  }
  
  @media screen and (min-width: 1341px) {
    .menu-btn {
      display: none;
    }
  }
    /* HEADER END*/

    /* LAND */

  .container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  

.left-box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200px;
    font-family: 'Almendra Display', serif;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.right-box {
    flex: 1;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

h2 {
  font-size: 28px;
  font-weight: 50;
}

.right {
  color: white;
  font-size: 20px;
}

.cta {
  max-width: 140px;
  text-align: center;
}
@media only screen and (min-width: 1341px) {
  .container {
      flex-direction: row;
  }

  .left-box {
      margin-bottom: 0;
      margin-right: 20px;
      font-size: 400px;
  }

  .right-box {
      width: 50%;
  }

  h2 {
    font-size: 40px;
  }

  .right {
    font-size: 28px;
  }
}
   /* LAND END */